<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout2}">
<body>
    <main layout:fragment="content">
        <div class="container mt-5 w-75">
            <h4>공지사항</h4>
        </div>
        <div class="container mt-3 mb-5 w-75 card-wrapper">
            <div class="card" style="width: 18rem;"
                 th:each="notice : ${noticeList}">
                <img class="bd-placeholder-img card-img-top" width="100%" height="180"
                     th:if="${#maps.containsKey(notice, 'file') && notice.file.filetype == 'image'}"
                     th:src="@{'https://kr.object.ncloudstorage.com/camp120/notice/' + ${notice.file.filename}}"
                     th:alt="${notice.file.fileoriginname}">
                <svg th:unless="${#maps.containsKey(notice, 'file') && notice.file.filetype == 'image'}"
                     class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
                <div class="card-body">
                    <h5 class="card-title" th:text="${notice.notice.title}">공지사항</h5>
                    <p class="card-text" th:text="'작성일: ' + ${#temporals.format(notice.notice.regdate, 'yyyy-MM-dd')}"></p>
                    <a th:text="자세히보기"
                       th:href="@{/boards/cnt/{id}?type=notice (id=${notice.notice.id})}" class="btn btn-outline-secondary btn-sm"></a>
                </div>
            </div>
        </div>
        <div class="container mt-3 w-50">
            <form id="search-form" action="" method="post">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-11">
                                <input type="text" class="form-control w-100" name="searchKeyword">
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <i class="bi bi-search" id="search-icon"></i>
                                <button type="submit" id="btn-search">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="container mt-3 mb-5 w-50 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary"
                    th:if="${session.loginMember != null && session.loginMember.role == 'ADMIN'}"
                    onclick="location.href='/boards/post'">글 등록</button>
        </div>
    </main>
</body>
</html>